<h2 class="text-uppercase text-center mt-3">Preguntas Frecuentes</h2>
<ngb-accordion [closeOthers]="true" activeIds="static-1">
  <ngb-panel id="static-1">
    <ng-template ngbPanelTitle>
      <span>¿Cómo puedo operar en el mercado internacional?.</span>
    </ng-template>
    <ng-template ngbPanelContent>
      Nuestros expertos te podrán dar soluciones adecuadas a tus necesidades y acorde a tu capital.
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-2">
    <ng-template ngbPanelTitle>
      <span>¿Con que empresas trabaja Compass?</span>
    </ng-template>
    <ng-template ngbPanelContent>
      Tenemos más de 2,500 empresas en nuestro portafolio con las cuales podemos encontrar soluciones adecuadas a tus necesidades
    </ng-template>
  </ngb-panel>
</ngb-accordion>
