<h2 class="text-uppercase text-center text-title">Preguntas Frecuentes</h2>
<ngb-accordion [closeOthers]="true" activeIds="static-1" animation="true">
  <ngb-panel id="static-1">
    <ng-template ngbPanelTitle>
      <span class="question-title">¿Cómo puedo operar en el mercado internacional?.</span>
    </ng-template>
    <ng-template ngbPanelContent>
      Nulla fringilla fermentum sapien, a eleifend libero feugiat vel. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer id nibh accumsan massa faucibus cursus sit amet et orci. In nunc dui, efficitur at pharetra quis, ultrices in nibh. Ut vehicula porta sapien, sed varius purus venenatis eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu metus pulvinar, gravida lorem sit amet, porttitor augue. In id odio tempus, ullamcorper dolor vel, convallis risus. Sed pretium aliquam vulputate. Etiam vitae nulla scelerisque, aliquam magna et, posuere magna. Sed et elit sed dolor pellentesque blandit at vitae odio. Nunc scelerisque nibh sed nunc pretium, ut tempor nunc bibendum. Nullam bibendum tristique nunc, vitae pharetra tellus scelerisque in.
    </ng-template>
  </ngb-panel>

  <ngb-panel id="static-2">
    <ng-template ngbPanelTitle>
      <span>¿Con que empresas trabaja Compass?</span>
    </ng-template>
    <ng-template ngbPanelContent>
      Nulla fringilla fermentum sapien, a eleifend libero feugiat vel. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer id nibh accumsan massa faucibus cursus sit amet et orci. In nunc dui, efficitur at pharetra quis, ultrices in nibh. Ut vehicula porta sapien, sed varius purus venenatis eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu metus pulvinar, gravida lorem sit amet, porttitor augue. In id odio tempus, ullamcorper dolor vel, convallis risus. Sed pretium aliquam vulputate. Etiam vitae nulla scelerisque, aliquam magna et, posuere magna. Sed et elit sed dolor pellentesque blandit at vitae odio. Nunc scelerisque nibh sed nunc pretium, ut tempor nunc bibendum. Nullam bibendum tristique nunc, vitae pharetra tellus scelerisque in.
    </ng-template>
  </ngb-panel>

  <ngb-panel id="static-3">
    <ng-template ngbPanelTitle>
      <span>¿Con que empresas trabaja Compass?</span>
    </ng-template>
    <ng-template ngbPanelContent>
      Suspendisse vulputate, ligula malesuada hendrerit blandit, mauris massa tempor augue, vitae pretium nisi lorem et nisi. Pellentesque mattis mauris et metus bibendum, semper vehicula diam suscipit. Sed in leo et tellus molestie maximus. Mauris et felis vestibulum, elementum lectus nec, facilisis purus. Quisque ornare turpis eu ultrices viverra. Mauris placerat quis leo ac eleifend. Nullam mollis pharetra sem, nec auctor ex finibus eget. Sed ligula elit, euismod sed mattis vel, eleifend congue lorem. Ut tristique vestibulum sodales. Nam luctus id ligula vel aliquet. Morbi lacinia pulvinar dolor, et faucibus sem hendrerit non. Phasellus eget tincidunt ex. Donec ante massa, consequat nec euismod ac, consequat sit amet orci. Duis faucibus tempor feugiat.
    </ng-template>
  </ngb-panel>


  <ngb-panel id="static-4">
    <ng-template ngbPanelTitle>
      <span class="question-title">¿Cómo puedo operar en el mercado internacional?.</span>
    </ng-template>
    <ng-template ngbPanelContent>
      Nulla fringilla fermentum sapien, a eleifend libero feugiat vel. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer id nibh accumsan massa faucibus cursus sit amet et orci. In nunc dui, efficitur at pharetra quis, ultrices in nibh. Ut vehicula porta sapien, sed varius purus venenatis eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu metus pulvinar, gravida lorem sit amet, porttitor augue. In id odio tempus, ullamcorper dolor vel, convallis risus. Sed pretium aliquam vulputate. Etiam vitae nulla scelerisque, aliquam magna et, posuere magna. Sed et elit sed dolor pellentesque blandit at vitae odio. Nunc scelerisque nibh sed nunc pretium, ut tempor nunc bibendum. Nullam bibendum tristique nunc, vitae pharetra tellus scelerisque in.
    </ng-template>
  </ngb-panel>

  <ngb-panel id="static-5">
    <ng-template ngbPanelTitle>
      <span>¿Con que empresas trabaja Compass?</span>
    </ng-template>
    <ng-template ngbPanelContent>
      Nulla fringilla fermentum sapien, a eleifend libero feugiat vel. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer id nibh accumsan massa faucibus cursus sit amet et orci. In nunc dui, efficitur at pharetra quis, ultrices in nibh. Ut vehicula porta sapien, sed varius purus venenatis eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu metus pulvinar, gravida lorem sit amet, porttitor augue. In id odio tempus, ullamcorper dolor vel, convallis risus. Sed pretium aliquam vulputate. Etiam vitae nulla scelerisque, aliquam magna et, posuere magna. Sed et elit sed dolor pellentesque blandit at vitae odio. Nunc scelerisque nibh sed nunc pretium, ut tempor nunc bibendum. Nullam bibendum tristique nunc, vitae pharetra tellus scelerisque in.
    </ng-template>
  </ngb-panel>

  <ngb-panel id="static-6">
    <ng-template ngbPanelTitle>
      <span>¿Con que empresas trabaja Compass?</span>
    </ng-template>
    <ng-template ngbPanelContent>
      Suspendisse vulputate, ligula malesuada hendrerit blandit, mauris massa tempor augue, vitae pretium nisi lorem et nisi. Pellentesque mattis mauris et metus bibendum, semper vehicula diam suscipit. Sed in leo et tellus molestie maximus. Mauris et felis vestibulum, elementum lectus nec, facilisis purus. Quisque ornare turpis eu ultrices viverra. Mauris placerat quis leo ac eleifend. Nullam mollis pharetra sem, nec auctor ex finibus eget. Sed ligula elit, euismod sed mattis vel, eleifend congue lorem. Ut tristique vestibulum sodales. Nam luctus id ligula vel aliquet. Morbi lacinia pulvinar dolor, et faucibus sem hendrerit non. Phasellus eget tincidunt ex. Donec ante massa, consequat nec euismod ac, consequat sit amet orci. Duis faucibus tempor feugiat.
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<div class="row spacer"></div>
