<section id="nosotros">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h2 class="text-center">Nosotros</h2>
              <p>Compass es una empresa innovadora que cuenta con asesores a nivel mundial altamente capacitados y con basta experiencia en el ámbito de las negociaciones internacionales.Contamos con un gran número de capacitadores que te ayudarán a entrenarte en cualquiera que sea tu necesidad de negocio o inversión.Somos una empresa comprometida con nuestros clientes para que juntos, como equipo, demos solución a las situaciones que acontecen en la actualidad.<br></p>
          </div>
      </div>
  </div>
</section>
