<section id="nosotros">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h2 class="text-center text-title">Nosotros</h2>
              <p>Compass es una empresa innovadora que cuenta con asesores a nivel mundial altamente capacitados y con basta experiencia en el ámbito de las negociaciones internacionales.Contamos con un gran número de capacitadores que te ayudarán a entrenarte en cualquiera que sea tu necesidad de negocio o inversión.Somos una empresa comprometida con nuestros clientes para que juntos, como equipo, demos solución a las situaciones que acontecen en la actualidad.<br></p>
              <p>Integer tincidunt nulla ut elit efficitur rhoncus. Mauris convallis vestibulum lectus, nec lacinia mauris fermentum vitae. Aenean vestibulum mollis orci, in porttitor enim efficitur non. Aenean id laoreet nunc. Vestibulum et fermentum eros, ac lobortis purus. Donec ac pretium ipsum, sit amet venenatis felis. Nullam dui ipsum, pulvinar sit amet dolor a, auctor facilisis mauris. Morbi bibendum felis eu urna egestas, sed consectetur lacus dapibus. Ut id sem viverra, gravida turpis quis, molestie lectus.</p>
          </div>
      </div>
  </div>
</section>
